body {
  padding: 0;
  margin: 0;

  font-family: RobotoDraft,Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* temporary links for routes */
div div a {
  margin-right: 10px;
}

select {
  border: 0;
  box-shadow:none;
  border-radius: 0;
  width: 250px;
  background-color: rgba(0,0,0,0);
  color: #FFF;
  /*border-bottom: '1px solid #FFF';*/
}
